<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Footer</title>
</head>
<body>
    <footer data-th-fragment="footer">
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                Copyright 2017 admin. All Rights Reserved.
            </div>
        </div>
        <!-- JavaScript -->
        <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
        <!--滚动
        <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
        &lt;!&ndash; JavaScript &ndash;&gt;
        <script src="../../js/main-scroll.js" th:src="@{/js/main-scroll.js}"></script>-->
        <!-- Vue --><!--
        <script src="../../js/vue.min.js" th:src="@{/js/vue.min.js}"></script>-->
        <!-- cropAvatar -->
        <script src="../../js/demo-src.js" th:src="@{/js/demo-src.js}"></script>
    </footer>
</body>
</html>