<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="~{fragments/head::head}">
		<!-- Standard Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- Site Properties -->
		<title>互助平台</title>
	</head>

	<!--<body style="overflow: hidden">-->
    <body>
        <!--header-->
        <div th:replace="~{fragments/header::header}"></div>
		<!--content-->
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui card container" style="margin-top: 30%">
                    <div class="content">
                        <div class="ui one stackable cards">
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/elliot.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="ui center">
                            <br>
                            <div class="header">名称</div>
                            <div>积分：220</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nine wide column">
                <div class="ui main">

                    <div class="ui card"  style="width: 100%;height:auto;margin-top: 10%;padding-bottom: 5%">
                        <div class="content">
                            <!--layui轮播-->
                            <div class="layui-carousel" id="carousel" lay-filter="carousel">
                                <div carousel-item="">
                                    <!--图片大小动态改变-->
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/1.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/2.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/3.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/4.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/5.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/6.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui one stackable cards">
                                        <div class="card">
                                            <div class="image">
                                                <img src="/images/carousel/7.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui card"  style="width: 100%;padding-bottom: 5%;padding-left: 5%;margin-top: 10%">
                        <div class="content">
                            <h3 class="ui center aligned header">资料条目</h3>
                            <div class="ui three column doubling grid">
                                <div class="ui top attached tabular menu">
                                    <a id="custom" class="item active" data-tab="first">综合</a>
                                    <a id="new" class="item" data-tab="second">最新</a>
                                    <a id="hot" class="item" data-tab="third">最热</a>
                                </div>

                                <div class="ui bottom attached tab segment active items" data-tab="first">
                                    <div id="customContainer">
                                        <div id="customContainerSysc">
                                            <span id="customCount" th:text="${customCount}" hidden></span>
                                            <div class="item" th:each="document:${customDocuments}">
                                                <!--原左右布局失效-->
                                                <div class="ui grid">
                                                    <div class="four wide column">
                                                        <div class="image">
                                                            <img class="ui small image" src="images/empty.png" th:src="${document.cover}">
                                                        </div>
                                                    </div>
                                                    <div class="twelve wide column">
                                                        <div class="content" style="width: 100%;height: 100%;">
                                                            <div class="divCenter">
                                                                <a href="/documentdetail" th:href="@{'/documentdetail?did='+${document.esdocumentId}}">
                                                                    <strong th:text="${document.title}">标题</strong>
                                                                </a>
                                                                <div class="meta">
                                                                    <span >描述</span>
                                                                </div>
                                                                <div class="description">
                                                                    <p th:text="${document.description}" class="article"></p>
                                                                </div>
                                                            </div>

                                                            <div class="extra" style="position:absolute;right:0%; bottom:5%;">
                                                                <!--图标组-->
                                                                <div >
                                                                    <div class="ui button"  th:onclick="'addVote('+${document.esdocumentId}+',this)'">
                                                                        <span th:if="${document.voteSize}!=0" th:text="${document.voteSize}+' '" class="voteSize"></span><i class="thumbs outline up icon"></i>
                                                                    </div>
                                                                    <div class="ui button" th:onclick="'addDownVote('+${document.esdocumentId}+',this)'">
                                                                        <span th:if="${document.downVoteSize}!=0" th:text="${document.downVoteSize}+' '" class="downVoteSize"></span><i class="thumbs outline down icon"></i>
                                                                    </div>
                                                                    <!--用button没有href属性-->
                                                                    <a class="ui icon button" th:href="${document.downloadpath}">
                                                                        <i class="download icon"></i>
                                                                    </a>
                                                                    <button class="ui icon button">
                                                                        <!--<i class="fork icon"></i>-->
                                                                        <!-- JiaThis Button BEGIN -->
                                                                        <div class="jiathis_style">
                                                                            <a href="http://www.jiathis.com/share" class="fork icon jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
                                                                        </div>
                                                                        <!-- JiaThis Button END -->
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="item">
                                        <div class="image">
                                            <img src="images/empty.png">
                                        </div>
                                        <div class="content">
                                            <a class="header" href="/documentdetail" th:href="@{/documentdetail}">标题</a>
                                            <div class="meta">
                                                <span>Description</span>
                                            </div>
                                            <div class="description">
                                                <p></p>
                                            </div>
                                            <div class="extra">Additional Details </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image">
                                            <img src="images/empty.png">
                                        </div>
                                        <div class="content">
                                            <a class="header" href="/documentdetail" th:href="@{/documentdetail}">标题</a>
                                            <div class="meta">
                                                <span>Description</span>
                                            </div>
                                            <div class="description">
                                                <p></p>
                                            </div>
                                            <div class="extra">Additional Details </div>
                                        </div>
                                    </div>-->
                                    <div id="customPage"></div>
                                </div>
                                <div  class="ui bottom attached tab segment" data-tab="second">
                                    <div id="newContainer">
                                        <div id="newContainerSysc">
                                            <span id="newCount" th:text="${newCount}" hidden></span>
                                            <div class="item" th:each="document:${newDocuments}">
                                                <!--原左右布局失效-->
                                                <div class="ui grid">
                                                    <div class="four wide column">
                                                        <div class="image">
                                                            <img class="ui small image" src="images/empty.png" th:src="${document.cover}">
                                                        </div>
                                                    </div>
                                                    <div class="twelve wide column">
                                                        <div class="content" style="width: 100%;height: 100%;">
                                                            <div class="divCenter">
                                                                <a href="/documentdetail" th:href="@{'/documentdetail?did='+${document.esdocumentId}}">
                                                                    <strong th:text="${document.title}">标题</strong>
                                                                </a>
                                                                <div class="meta">
                                                                    <span >描述</span>
                                                                </div>
                                                                <div class="description">
                                                                    <p th:text="${document.description}" class="article"></p>
                                                                </div>
                                                            </div>

                                                            <div class="extra" style="position:absolute;right:0%; bottom:5%;">
                                                                <!--图标组-->
                                                                <div >
                                                                    <div class="ui button"  th:onclick="'addVote('+${document.esdocumentId}+',this)'">
                                                                        <span th:if="${document.voteSize}!=0" th:text="${document.voteSize}+' '" class="voteSize"></span><i class="thumbs outline up icon"></i>
                                                                    </div>
                                                                    <div class="ui button" th:onclick="'addDownVote('+${document.esdocumentId}+',this)'">
                                                                        <span th:if="${document.downVoteSize}!=0" th:text="${document.downVoteSize}+' '" class="downVoteSize"></span><i class="thumbs outline down icon"></i>
                                                                    </div>
                                                                    <!--用button没有href属性-->
                                                                    <a class="ui icon button" th:href="${document.downloadpath}">
                                                                        <i class="download icon"></i>
                                                                    </a>
                                                                    <button class="ui icon button">
                                                                        <!--<i class="fork icon"></i>-->
                                                                        <!-- JiaThis Button BEGIN -->
                                                                        <div class="jiathis_style">
                                                                            <a href="http://www.jiathis.com/share" class="fork icon jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
                                                                        </div>
                                                                        <!-- JiaThis Button END -->
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="newPage"></div>
                                </div>
                                <div class="ui bottom attached tab segment" data-tab="third">
                                    <div id="hotContainer">
                                        <div id="hotContainerSysc">
                                            <span id="hotCount" th:text="${hotCount}"  hidden></span>
                                            <div class="item" th:each="document:${hotDocuments}">
                                                <!--原左右布局失效-->
                                                <div class="ui grid">
                                                    <div class="four wide column">
                                                        <div class="image">
                                                            <img class="ui small image" src="images/empty.png" th:src="${document.cover}">
                                                        </div>
                                                    </div>
                                                    <div class="twelve wide column">
                                                        <div class="content" style="width: 100%;height: 100%;">
                                                            <div class="divCenter">
                                                                <a href="/documentdetail" th:href="@{'/documentdetail?did='+${document.esdocumentId}}">
                                                                    <strong th:text="${document.title}">标题</strong>
                                                                </a>
                                                                <div class="meta">
                                                                    <span >描述</span>
                                                                </div>
                                                                <div class="description">
                                                                    <p th:text="${document.description}" class="article"></p>
                                                                </div>
                                                            </div>

                                                            <div class="extra" style="position:absolute;right:0%; bottom:5%;">
                                                                <!--图标组-->
                                                                <div >
                                                                    <div class="ui button"  th:onclick="'addVote('+${document.esdocumentId}+',this)'">
                                                                        <span th:if="${document.voteSize}!=0" th:text="${document.voteSize}+' '" class="voteSize"></span><i class="thumbs outline up icon"></i>
                                                                    </div>
                                                                    <div class="ui button" th:onclick="'addDownVote('+${document.esdocumentId}+',this)'">
                                                                        <span th:if="${document.downVoteSize}!=0" th:text="${document.downVoteSize}+' '" class="downVoteSize"></span><i class="thumbs outline down icon"></i>
                                                                    </div>
                                                                    <!--用button没有href属性-->
                                                                    <a class="ui icon button" th:href="${document.downloadpath}">
                                                                        <i class="download icon"></i>
                                                                    </a>
                                                                    <button class="ui icon button">
                                                                        <!--<i class="fork icon"></i>-->
                                                                        <!-- JiaThis Button BEGIN -->
                                                                        <div class="jiathis_style">
                                                                            <a href="http://www.jiathis.com/share" class="fork icon jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
                                                                        </div>
                                                                        <!-- JiaThis Button END -->
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hotPage"></div>
                                </div>
                                <!--<div id="page"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="ui card"  style="width: 100%;padding-bottom: 5%;padding-left: 5%;margin-bottom: 5%;">
                        <div class="content">
                            <h3 class="ui center aligned header">线下家教</h3>
                            <div class="ui three column doubling grid">
                                <div class="column">
                                    <a class="ui primary button">综合</a>
                                </div>
                                <div class="column">
                                    <a class="ui button">最热</a>
                                </div>
                                <div class="column">
                                    <a class="ui button">最新</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui link cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <a class="ui inverted button">Add Friend</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="images/matthew.png">
                                </div>
                                <!--<div class="image">
                                    <img src="images/matthew.png">
                                </div>-->
                                <div class="content">
                                    <div class="header"><a href="/teacherdetail" th:href="@{/teacherdetail}">Matt Giampietro</a></div>
                                    <div class="meta">
                                        <a>好友</a>
                                    </div>
                                    <div class="description">Matthew is an interior designer living in New York. </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">2013年加入 </span>
                                    <span><i class="user icon"></i> 75 Friends </span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="images/molly.png">
                                </div>
                                <div class="content">
                                    <div class="header"><a href="/teacherdetail" th:href="@{/teacherdetail}">Molly</a></div>
                                    <div class="meta">
                                        <span class="date">Coworker</span>
                                    </div>
                                    <div class="description">Molly is a personal assistant living in Paris. </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">2011年加入 </span>
                                    <span><i class="user icon"></i> 35 Friends </span>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="images/elyse.png">
                                </div>
                                <div class="content">
                                    <div class="header"><a href="/teacherdetail" th:href="@{/teacherdetail}">Elyse</a></div>
                                    <div class="meta">
                                        <a>Coworker</a>
                                    </div>
                                    <div class="description">Elyse is a copywriter working in New York. </div>
                                </div>
                                <div class="extra content">
                                    <span class="right floated">2014年加入 </span>
                                    <span><i class="user icon"></i> 151 Friends </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column container">
                <div class="ui card" style="margin-top: 20%">
                    <div class="content">
                        <div class="header">热门资料</div>
                    </div>
                    <div class="content">
                        <div class="ui feed">
                            <div class="event">
                                <div class="content">
                                    <a>计算机组成原理</a>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <a>经济学原理</a>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <a>哲学原理</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui card" style="margin-top: 20%">
                    <div class="content">
                        <div class="header">最新资料</div>
                    </div>
                    <div class="content">
                        <div class="ui feed">
                            <div class="event">
                                <div class="content">
                                    <a>高等数学</a>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <a>量子力学</a>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <a>java程序设计</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui card" style="margin-top: 20%">
                    <div class="content">
                        <div class="header">热门教师</div>
                    </div>
                    <div class="content">
                        <div class="ui three stackable cards">
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/elliot.jpg">
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/helen.jpg">
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/jenny.jpg">
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/veronika.jpg">
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/steve.jpg">
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="/images/avatar/large/steve.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
		<!--footer-->
		<div th:replace="~{/fragments/footer::footer}"></div>
	</body>
    <script type="text/javascript">
        /*getDocuments(1,10,"","new")会引起重复加载;*/

        function getDocuments(pageIndex, pageSize,category,mode) {
            $.ajax({
                url: "/index",
                contentType : 'application/json',
                data:{
                    "page":pageIndex,
                    "limit":pageSize,
                    "mode":mode,
                    "category":category,
                    "async":true
                },
                success: function(data){
                    var str = "#"+mode+"Container";
                    console.log(str);
                    //console.log(data);
                    //$(str).load(data);
                    $(str).html(data);//局部刷新DIV
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        }

        $('.menu .item')
            //.tab()
            .tab({
                cache: true,//使用缓存
                evaluateScripts: 'once',//一次加载
                onVisible: function(tabPath) {
                    if(tabPath=="first"){
                        getDocuments(1, 2,null,"custom")
                    }else if(tabPath=="second"){
                        getDocuments(1, 2,null,"new")
                    }else if(tabPath=="third"){
                        getDocuments(1, 2,null,"hot")
                    }
                },
            });

        layui.use(['laypage', 'layer','util','carousel'], function() {
            var laypage = layui.laypage
                ,$ = layui.jquery
                ,util = layui.util
                ,layer = layui.layer
                ,carousel = layui.carousel;

            //完整功能($()里面只能用''，不能用"")
            var customCount = $('#customCount').text();
            var newCount = $('#newCount').text();
            var hotCount = $('#hotCount').text();
            //console.log(customCount);
            laypage.render({
                elem: 'customPage'
                ,count: customCount
                ,limit:2
                ,skip: true //开启跳页
                ,skin: '#2F7111' //自定义选中色值
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                ,jump: function(obj,first){
                    //console.log(obj)

                    //首次不执行
                    if(!first){
                        //pageIndex, pageSize,category,mode
                        getDocuments(obj.curr,2,null,"custom");
                    }
                }
            });
            //完整功能
            laypage.render({
                elem: 'newPage'
                ,count: newCount
                ,limit:2
                ,skip: true //开启跳页
                ,skin: '#1E9FFF' //自定义选中色值
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                ,jump: function(obj,first){
                    //首次不执行
                    if(!first){
                        //pageIndex, pageSize,category,mode
                        getDocuments(obj.curr,2,null,"new");
                    }
                }
            });
            //完整功能
            laypage.render({
                elem: 'hotPage'
                ,count: hotCount
                ,limit:2
                ,skip: true //开启跳页
                ,skin: '#1E11FF' //自定义选中色值
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                ,jump: function(obj,first){
                    //首次不执行
                    if(!first){
                        //pageIndex, pageSize,category,mode
                        getDocuments(obj.curr,2,null,"hot");
                    }
                }
            });

            //固定块
            util.fixbar({
                bar1: true
                ,bar2: true
                ,css: {right: 50, bottom: 100}
                ,bgcolor: '#393D49'
                ,click: function(type){
                    if(type === 'bar1'){
                        layer.msg('icon是可以随便换的')
                    } else if(type === 'bar2') {
                        layer.msg('两个bar都可以设定是否开启')
                    }
                }
            });

            //轮播
            carousel.render({
                elem: '#carousel'
                ,width: '100%' //设置容器宽度
                ,height: '340px' //设置容器宽度
                ,arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
    </script>
</html>